<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="connection" connectionString="Data Source=C:\\Users\\Iskandar\\Desktop\\D\\Programming\\repos\\UKasse\\UKasse.sqlite;Initial Catalog=b;Integrated Security=True;foreign keys=true;" providerName="System.Data.SQLite"/>
	</connectionStrings>
</configuration>